# Ignore virtual environment
venv/
backend/venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VS Code settings
.vscode/

# Environment variables or secret files (optional)
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log