body {
  margin: 0;
  background: linear-gradient(135deg,rgb(243, 215, 248),rgb(183, 231, 244));
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

input,
label,
button {
  margin-top: 10px;
}

.button {
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0.5rem 2px;
}

.button-update {
  background-color: #007bff;
  color: #fff;
}

.button-update:hover {
  background-color: #0056b3;
}

.button-create {
  background-color: #28a745;
  color: #fff;
}

.button-create:hover {
  background-color: #1e7e34;
}

.button-delete {
  background-color: #dc3545;
  color: #fff;
}

.button-delete:hover {
  background-color: #b02a37;
}
